.ayurveda .default-container {
  padding: 139px 0px 0px 0px;
  gap: 50px;
  flex-wrap: wrap;
}
.ayurveda .default-container .col-50 {
  width: calc(50% - 25px);
}
.ayurveda .default-container .col-50:nth-child(1) {
  padding-right: 35px;
}
.ayurveda .default-container .col-50:nth-child(1) .ayurimg {
  background-image: url(../../asstes/images/about/about-1.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 434.25px;
  border-radius: 22px;
}
.ayurveda .default-container .col-50:nth-child(2) {
  align-self: flex-start;
  padding-left: 26px;
}
.ayurveda .default-container .col-50:nth-child(2) h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--bg-green);
}
.ayurveda .default-container .col-50:nth-child(2) h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  color: var(--bg-green);
  margin-top: 42px;
  max-width: 415px;
}
.ayurveda .default-container .col-50:nth-child(2) p {
  margin-top: 39px;
  max-width: 415px;
  font-size: 17px;
  line-height: 26px;
  text-align: justify;
  font-weight: 400;
  color: #4C4C4C;
}
.ayurveda .default-container .col-50:nth-child(2) p span {
  font-weight: 600;
  color: #4C4C4C;
  font-size: 15px;
}
.vision .default-container {
  padding: 157px 0px 0px 0px;
  flex-wrap: wrap;
}
.vision .default-container .col-45 {
  padding-right: 26px;
}
.vision .default-container .col-45 .visionimg {
  height: 306.38px;
  background-image: url(../../asstes/images/about/about-2.webp);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
.vision .default-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  color: var(--bg-green);
  margin-bottom: 10px;
}
.vision .default-container p {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  color: #4C4C4C;
}
.vision .default-container .col-55 {
  background-color: #F9F8F8;
  padding: 78px 29px;
  border-radius: 22px;
  height: 306.38px;
}
.mission .default-container {
  padding: 35px 0px 0px 0px;
  flex-wrap: wrap-reverse;
}
.mission .default-container .col-55 {
  padding: 79px 0px 77px 55px;
  background-color: #F9F8F8;
  border-radius: 22px;
  height: 382.62px;
}
.mission .default-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  color: var(--bg-green);
  margin-bottom: 10px;
}
.mission .default-container p {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  color: #4C4C4C;
}
.mission .default-container .col-45 {
  padding-left: 50px;
}
.mission .default-container .col-45 .missionimg {
  height: 382.62px;
  background-image: url(../../asstes/images/about/about-3.webp);
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}
.admin .default-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 156px 0px;
}
.admin .default-container h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  color: #00AE55;
}
.admin .default-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 37px;
  font-weight: 800;
  line-height: 50px;
  color: var(--bg-green);
  margin-top: 13px;
}
.admin .default-container .admin-section {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.admin .default-container .admin-section .col-33 {
  width: calc(33.3333% - 50px);
  margin-top: 30px;
  background-color: #F9F8F8;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.8s all;
  cursor: pointer;
}
.admin .default-container .admin-section .col-33:nth-child(2) .adm-img {
  background-image: url(../../asstes/images/about/admin1.webp);
}
.admin .default-container .admin-section .col-33:nth-child(3) .adm-img {
  background-image: url(../../asstes/images/about/admin2.webp);
}
.admin .default-container .admin-section .col-33:hover {
  box-shadow: 0px 16.478px 28.8365px rgba(167, 167, 167, 0.25);
  background-color: #fff;
}
.admin .default-container .admin-section .col-33 .txt {
  padding: 27px 29px;
}
.admin .default-container .admin-section .col-33 .adm-img {
  height: 363.75px;
  background-image: url(../../asstes/images/about/admin.webp);
  background-size: cover;
  background-position: center;
}
.admin .default-container .admin-section .col-33 h3 {
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  font-weight: 800;
  line-height: 25px;
  color: #1D2432;
}
.admin .default-container .admin-section .col-33 h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #4C4C4C;
}
@media (max-width: 1080px) {
  .admin .default-container .admin-section .col-33 {
    width: calc(50% - 25px);
  }
}
@media (max-width: 768px) {
  .ayurveda .default-container .col-50 {
    width: 100%;
  }
  .ayurveda .default-container .col-50:nth-child(1) {
    padding-right: 0;
  }
  .ayurveda .default-container .col-50:nth-child(2) {
    padding-left: 0;
  }
  .ayurveda .default-container .col-50:nth-child(2) p {
    max-width: none;
  }
  .vision .default-container .col-45,
  .mission .default-container .col-45 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .vision .default-container .col-45,
  .vision .default-container .col-55,
  .mission .default-container .col-45,
  .mission .default-container .col-55 {
    width: 100%;
    height: fit-content;
  }
  .vision .default-container .col-55,
  .mission .default-container .col-55 {
    margin-top: 40px;
  }
}
@media (max-width: 520px) {
  .admin .default-container .admin-section {
    gap: 20px;
  }
  main .banner-sec-all .default-container h1 {
    font-size: 36px;
  }
  .admin .default-container .admin-section .col-33 {
    width: 100%;
  }
  .ayurveda .default-container .col-50:nth-child(1) .ayurimg {
    height: 233.25px;
  }
  .mission .default-container .col-55 {
    padding: 53px 30px;
  }
  .ayurveda .default-container,
  .vision .default-container,
  .admin .default-container {
    padding-top: 60px;
  }
  .admin .default-container {
    padding-bottom: 60px;
  }
  .admin .default-container h2 {
    font-size: 29px;
  }
  .vision .default-container .col-55 {
    padding: 44px 29px;
  }
  .vision .default-container p,
  .mission .default-container p {
    font-size: 17px;
    line-height: 27px;
  }
  .admin .default-container .admin-section .col-33 .adm-img {
    height: 284px;
  }
}
