body .facult-sec .default-container {
  padding: 113px 0px;
}
body .facult-sec .default-container .facult-img-sec {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 36px;
}
body .facult-sec .default-container .facult-img-sec .col-25 {
  width: calc(25% - 37.7px);
  background: #F8FFFA;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 40px 20px;
  min-height: 332px;
}
body .facult-sec .default-container .facult-img-sec .col-25 .facult-img {
  height: 94px;
  width: 94px;
  background-image: url(/asstes/images/Profile.webp);
  background-size: cover;
  background-position: 50% 0px;
  border-radius: 21px;
}
body .facult-sec .default-container .facult-img-sec .col-25 h3 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 33px;
  color: #1D2432;
  text-align: center;
  padding: 20px 0px;
}
body .facult-sec .default-container .facult-img-sec .col-25 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  color: #4C4C4C;
  text-align: center;
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(1) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ RAJISH.R.UNNITHAN\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(2) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ MAGANTI\ NAGABALARAM\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(3) .facult-img {
  background-image: url(https://ide.ginfoclique.com/workspace/elytsin/vishwatask/Anna-Gowri-Ayurveda/assets/images/Profile.webp);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(4) .facult-img {
  background-image: url(https://ide.ginfoclique.com/workspace/elytsin/vishwatask/Anna-Gowri-Ayurveda/assets/images/Profile.webp);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(5) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ VASU\ RAY\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(6) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ HIMAJA\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(7) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ NAGA\ PRATAP\ VEERA\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(8) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ CHAKRAPANI\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(9) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ VIMALA\ REDDY\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(10) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.\ PRADEEP\ KUMAR\ MD\ \(Ayu\).webp);
}
body .facult-sec .default-container .facult-img-sec .col-25:nth-child(11) .facult-img {
  background-image: url(/asstes/images/staffs/Dr.SAYEED\ AHAMED.webp);
}
body .facult-sec .default-container .center-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  color: #00AE55;
}
body .medical-sec .default-container {
  justify-content: center;
  padding: 65px 0px;
  flex-direction: column;
}
body .medical-sec .default-container .text-center {
  padding-bottom: 94px;
}
body .medical-sec .default-container .text-center h2 {
  color: #00AE55;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  position: relative;
}
body .medical-sec .default-container .text-center h2::after {
  content: "";
  position: absolute;
  width: 103px;
  height: 4px;
  background-color: #1D2432;
  display: table;
  left: 50%;
  transform: translate(-50%, 37px);
  bottom: 0;
}
body .medical-sec .default-container .facult-img-sec {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 36px;
}
body .medical-sec .default-container .facult-img-sec .col-25 {
  width: calc(25% - 37.7px);
  background: #F8FFFA;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 40px 20px;
  min-height: 332px;
}
body .medical-sec .default-container .facult-img-sec .col-25 .facult-img {
  height: 94px;
  width: 94px;
  background-image: url(/asstes/images/Profile.webp);
  background-position: 50% 50%;
  border-radius: 21px;
  background-repeat: no-repeat;
}
body .medical-sec .default-container .facult-img-sec .col-25 h3 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 33.32px;
  color: #1D2432;
  text-align: center;
  padding: 20px 0px 8px 0px;
}
body .medical-sec .default-container .facult-img-sec .col-25 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  color: #4C4C4C;
  text-align: center;
}
