body .gallery .default-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 143px;
}
body .gallery .default-container .galle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 0px 96px 0px;
  gap: 20px;
  color: #8E8F8F;
}
body .gallery .default-container .galle-btn .gell-btn {
  font-family: 'Lexend', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  color: #8E8F8F;
  padding-bottom: 6px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
body .gallery .default-container .galle-btn .gell-btn:hover,
body .gallery .default-container .galle-btn .gell-btn.active {
  color: #00AE55;
  border-bottom: 2px solid var(--bg-green);
}
body .gallery .default-container .gall-section .gell-section {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
body .gallery .default-container .gall-section .gell-section.active {
  display: flex;
}
body .gallery .default-container .gall-section .gell-section .col-25 {
  width: calc(25% - 15px);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(2) .gell-img {
  background-image: url(../../asstes/images/gallery/g2.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(3) .gell-img {
  background-image: url(../../asstes/images/gallery/g3.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(4) .gell-img {
  background-image: url(../../asstes/images/gallery/g4.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(5) .gell-img {
  background-image: url(../../asstes/images/gallery/g5.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(6) .gell-img {
  background-image: url(../../asstes/images/gallery/g6.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(7) .gell-img {
  background-image: url(../../asstes/images/gallery/g7.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(8) .gell-img {
  background-image: url(../../asstes/images/gallery/g8.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(9) .gell-img {
  background-image: url(../../asstes/images/gallery/g9.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(10) .gell-img {
  background-image: url(../../asstes/images/gallery/g10.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(11) .gell-img {
  background-image: url(../../asstes/images/gallery/g11.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(12) .gell-img {
  background-image: url(../../asstes/images/gallery/g12.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(13) .gell-img {
  background-image: url(../../asstes/images/gallery/g13.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(14) .gell-img {
  background-image: url(../../asstes/images/gallery/g14.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(15) .gell-img {
  background-image: url(../../asstes/images/gallery/g15.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25:nth-child(16) .gell-img {
  background-image: url(../../asstes/images/gallery/g16.webp);
}
body .gallery .default-container .gall-section .gell-section .col-25 .gell-img {
  width: 100%;
  height: 255px;
  background-image: url(../../asstes/images/gallery/g1.webp);
  background-size: cover;
  background-position: center;
  border-radius: 22px;
}
body .gallery .default-container .gall-section .gell-section .col-25 h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  font-family: 'Playfair Display', serif;
  margin-top: 14px;
  text-align: center;
}
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 {
  width: calc(50% - 20px);
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 16.478px 28.8365px rgba(167, 167, 167, 0.25);
  align-items: center;
  padding: 21.3542px;
  border-radius: 25.5409px 28.0126px 24.717px 24.717px;
  gap: 20px;
}
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-20:nth-child(1) {
  min-width: 67.56px;
  background-color: #00AE55;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 67.56px;
}
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-20:nth-child(1) h2,
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-20:nth-child(1) h3 {
  font-weight: 500;
  font-size: 16.48px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-80 h4 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 4px;
}
body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-80 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 1080px) {
  body .gallery .default-container .gall-section .gell-section .col-25 {
    width: calc(33.3333% - 13.3333px);
  }
}
@media (max-width: 860px) {
  body .gallery .default-container .gall-section .gell-section .col-25 {
    width: calc(50% - 10px);
  }
}
@media (max-width: 520px) {
  body .gallery .default-container .gall-section .gell-section .col-25 {
    width: 100%;
  }
  body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 {
    width: 100%;
  }
  main .banner-sec-all .default-container h1 {
    font-size: 30px;
    padding-top: 35px;
  }
  body .gallery .default-container {
    padding-bottom: 60px;
  }
  body .gallery .default-container .galle-btn {
    padding: 50px 0px;
  }
  body .gallery .default-container .galle-btn .gell-btn {
    font-size: 16px;
  }
  body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-80 h4 {
    font-size: 16px;
  }
  body .gallery .default-container .gall-section .gell-section:nth-child(2) .col-50 .col-80 p {
    font-size: 14px;
  }
}
